.t {
    background-color: #ff4da6;
    position: absolute;
    height: 15%;
    width: 96%;
    left: 2%;
    top: 3%;
    }
.m1 {
    background-color: #ff037e;
    position: absolute;
    height: 60%;
    width: 65%;
    left: 2%;
    top: 20%;
    }
.m2 {
    background-color: #ce0468;
    position: absolute;
    height: 60%;
    width: 30%;
    left: 68%;
    top: 20%;
    }
.b {
    background-color: #802755;
    position: fixed;
    height: 15%;
    width: 96%;
    left: 2%;
    bottom: 3%;
    }