*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    padding: 4em 4em;
}
.content{
    width: 50%;
}
.content2{
    padding-top: 20px;
}
body {
    font-family: 'Source Sans Pro';
    background:red;
    margin:0;
    color:white;
}
img { 
    padding-right: 200px;
    float: right;
    height: 220px;
    width: 500px;
}
span{
    display:block;
    font-size:25px;
    margin-bottom:16px;
    color: white;
}
.footer{
    background-color: red;
    height: 100%;
    width: 100%;
}
.foot{
    float: left;
    width: 33%;
    padding: 5px;
    background:#571212;
    color:#E98A8A;
    margin-right: 5px;
    margin-top: 203px;
  }
 .first{
    margin-top: 239px;
 }
.foot2{
    float: right;
    width: 33.2%;
    padding: 5px;
    background:#571212;
    color:#E98A8A;
    margin-top: 203px;
  }
