.container {
    padding: 4em 1em;
}
body {
    font-family: 'Source Sans Pro';
    background:red;
    margin:0;
    color:white;
}
img { 
    width:150px;
    position: absolute;
    right: 15%;
    top: 7%;
}
.first{
    position:absolute;
    bottom: 2%;
    width: 26%;
    background:#571212;
    padding: 2em;
    color:#E98A8A;
    margin-right: 1em;
}
span{
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: white;
}
.second{
    position:absolute;
    bottom: 2%;
    left: 31%;
    width: 30%;
    background:#571212;
    padding: 2em;
    color:#E98A8A;
}
.third{
    position:absolute;
    bottom: 2%;
    width: 30%;
    left: 66%;
    background:#571212;
    padding: 2em;
    color:#E98A8A;
}