*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #57b9a2;
    color: white;
    padding: 20px 30px;
    font-size: 14px;
}
.navlinks .tel{
    font-size: 14px;
}
.navlinks .tel:hover{
    font-size: 14px;
}

ul{
    list-style: none;
}
.align{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
} 
.navlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.navlinks li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 0 5px;
}
.navlinks .white-link{
    color: white;
}


/* The container for the select dropdown */
.select-dropdown {
    position: relative;
    display: inline-block;
}
/* Styling for the select dropdown */
.select {
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    background-color: #57b9a2;
}
.select:hover,.white-link:hover, .black:hover{
    background-color: #ef4d38;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.white{
    background-color: white;
    color: black;
    font-size: 16px;
}
  


.navbutton{
    color: white;
    background-color: #ef4d38;
    border: 2px transparent;
    border-radius: 40px;
    padding: 8px 25px;
    cursor:pointer;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: black;
}
.search{
    padding: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 0;
    border: 1px solid gray;
    border-right: 0;
    outline: 0px;
}
.searchbutton{
    height: 34px;
    width: 34px;
    border: 1px solid gray;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 0;
}
.fa-magnifying-glass{
    font-size: 17px;
}


.banner{
    position: relative;
    color: white;
    background-image: url(./Images/banner.jpg);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.banner h2{
    width: 37%;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}
.banner p{
    font-size: 15px;
}
.bannerbutton{
    color: white;
    background-color: transparent;
    border-radius: 45px;
    height: 50px;
    width: 300px;
    border: none;
}
.bannerbutton:hover{
    color: white;
    background-color: #ef4d38;
    height: 50px;
    width: 300px;
    border: transparent;
    border-radius: 45px;
    cursor: pointer;
}
.achievements{
    margin-top: 40px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.socials{
    position: absolute;
    left: 15px;
    bottom: 25%;
    transform: translate(0, 50%);
}
.overlay{
    position: absolute;
    background-color: #1b3f4d;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}
.zindex{
    z-index: 1;
}
.para{
    width: 100%;
}
.para h4{
    color: #ef4d38;
}
.para a{
    color: #57b9a2;
}
.find-doc{
    position: absolute;
    border-radius: 40px;
    width: 70%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.foot{
    /* width: 80%; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgb(0 0 0 / 30%);
}
.para{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 15px;
}
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.one{
    width: 200px;
    border: 1px solid gray;
    padding: 8px 15px;
    background-color: white;
    color: black;
}
.one:hover{
    padding: 8px 15px;
}
.doc-search{
    height: 43px;
}
.flex{
    display: flex;
}
.flex input:hover,.doc-search:hover{
    background-color: #ef4d38;
}
